<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cursosant.android.apprestaurant">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />

            <category android:name="android.intent.category.BROWSABLE" />
        </intent>
    </queries>

    <application
        android:name=".RestaurantApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apprestaurant"
        tools:targetApi="31">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false"
            android:parentActivityName=".Login" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".FormRestaurante"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetalleRestaurante"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>